@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.menu ul
		display: none;
	.top-line
		.phone-number
			float: right;
			font-size: 0.95em;
	.s3-content
		.row:nth-child(2)
			.info-item-wrap:nth-child(2)
				.image-icon
					margin: 55px 0 0px 80px;
	/**/

@media only screen and (max-width : 1024px)
	.s3-content
		.row:nth-child(2)
			.info-item-wrap:nth-child(2)
				.image-icon
					display: none;
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.header-content
		margin-top: 35px;
		.header-h
			margin-top: 20px;
		form
			margin-top: 25px;
	.section-1
		.grade-content
			.bg-triangle
				-webkit-background-size: cover;
				background-size: cover;
		.info-item
			margin: 20px 0 10px 0 !important;
			max-width: 100%;

	.section-1 .section1-head,
	.s2-head
		padding: 0 20px;
	.section-3
		.s3-head
			padding: 0 40px;
		.s3-content
			background: #2c3949;
		.row
			.info-item-wrap
				.info-item
					margin: 20px 0 10px 0 !important;
		.info-item
			max-width: 100%;
	.section-4
		.s4-head
			padding: 0 40px;
	.section_6
		.item
			margin: 0 20px 20px;
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.header-content
		form
			min-width: 250px
			margin-top: 50px;
			padding: 20px 30px 35px 30px;
	.section-1
		s1-head
			padding: 0 30px;
	.info-item
		max-width: 100%;
		margin-top: 0;

	.info-item-wrap:nth-child(2)
		.info-item
			margin-left: 0;
			margin-bottom: 40px;
	.s5-content
		.triangle-item:nth-child(3)
			margin-left: 5px;
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.s3-button
		.button
			width: 265px;
	.s5-content
		.triangle-item:nth-child(2),
		.triangle-item:nth-child(3),
		.triangle-item:nth-child(4)
			margin-left: 5px;
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

