/*
Error: Invalid CSS after ""media" ": expected media query list, was "// Always at th..."
        on line 43 of D:\Job\Avtocityy\sass\main.sass

38: b, strong
39: 	font-weight: bold
40: 
41: 
42: 
43: @import "media" // Always at the end

Backtrace:
D:\Job\Avtocityy\sass\main.sass:43
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/scss/parser.rb:74:in `parse_media_query_list'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:1070:in `parse_import_arg'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:998:in `block in parse_import_directive'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:997:in `loop'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:997:in `parse_import_directive'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:812:in `parse_directive'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:646:in `parse_line'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:536:in `build_tree'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:409:in `_to_tree'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
D:/Program Files/Koala/bin/sass:18:in `load'
D:/Program Files/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"\"media\" \": expected media query list, was \"// Always at th...\"\A         on line 43 of D:\Job\Avtocityy\sass\main.sass\A \A 38: b, strong\A 39: 	font-weight: bold\A 40: \A 41: \A 42: \A 43: @import \"media\" // Always at the end"; }
