@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: AdelleCyrillic
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

h1,h2,h3,h4,h5,h6,p,span,ul,a,label
	margin: 0
	padding: 0

button
	cursor: pointer

h2
	font-size: 35px
	text-align: center
	margin-bottom: 32px
	text-transform: uppercase
	font-family: AdelleCyrillic-Extrabold

h3
	font-size: 28px
	font-size: AdelleCyrillic-SemiBold

h4
	font-size: 20px
	line-height: 25px
	font-family: AdelleCyrillic-SemiBold

h5
	font-size: 16px
	font-weight: normal

.content
	margin: 0 auto
	max-width: 2000px

#menu_button
	top: -8px
	width: 20px
	height: 18px
	display: none
	position: relative
	span
		left: 0
		width: 20px
		height: 2px
		display: block
		position: absolute
		background-color: #525ea9
		&:first-child
			top: 0;
		&:nth-child(2)
			top: 10px
		&:nth-child(3)
			top: 20px

header
	padding-top: 23px
	padding-bottom: 21px
	.logo
		img
			width: 200px
	.menu
		ul
			list-style-type: none
		li
			display: inline-block
			padding: 0 32px 6px 25px
			&:hover,&.active
				a
					&:before
						right: 0;
						left: 0;
			&.active
				a
					font-weight: bold
					font-family: AdelleCyrillic-SemiBold
			&:last-child
				padding-right: 0
		a
			color: #000
			position: relative
			&:hover,&:visited,&:focus,&:active
				outline: none
				text-decoration: none
			&:before
				left: 50%
				right: 50%;
				height: 2px
				content: ''
				bottom: -5px
				display: block
				position: absolute
				background-color: #ffeb3b
				transition: all .5s ease

.wrap_content
	padding-top: 55px
	background-size: inherit
	background-position: 50% top
	background-repeat: no-repeat
.main_block-form-wrap
	height: 300px
	padding-top: 50px
	overflow: hidden
	mix-blend-mode: multiply
	background-color: #ffeb3b
	border-radius: 130px 0 0 130px 
	background-blend-mode: multiply
	.head_wrap
		padding-left: 185px
	// h1
	.header
		font-size: 40px
		line-height: 53px
		font-family: AdelleCyrillic-Extrabold
	p
		font-size: 27px
		line-height: 35px
		font-family: AdelleCyrillic-SemiBold
	.form_block
		margin-top: 20px
		background-color: #666666
	form
		padding-left: 185px
	& + .comment
		font-size: 18px
		margin-top: 60px
		padding-left: 210px
		font-family: AdelleCyrillic-Light

.phone_number
	color: #6b6b6b
	font-size: 30px
	font-family: AdelleCyrillic-Extrabold
.phone_block
	z-index: 0
	margin-top: -375px
	position: relative
	margin-left: -130px
	.phone
		text-align: right
		padding-right: 90px
	i
		font-size: 19px
	.icons
		top: -3px
		position: relative
		padding-left: 10px
	.phone_number,.icons
		display: inline-block

.phone_block-bg
	height: 360px
	position: relative
	background-repeat: no-repeat
	background-position: top right
	img
		top: 46px
		right: -32px
		width: 510px
		position: absolute

form
	height: 90px
	label
		height: 100%
		padding: 30px 0
	input
		z-index: 2
		height: 30px
		width: 170px
		margin-right: 28px
		padding-left: 20px
		position: relative
		border-radius: 10px
		transition: all .5s ease
		&:active,&:focus
			border: 0
			box-shadow: 0px 0px 10px 2px rgba(147,73,106,1);
	button
		border: 0
		color: #fff
		font-size: 14px
		font-weight: bold
		padding: 10px 30px
		border-radius: 20px
		text-transform: uppercase
		background-color: #d61d6f
		box-shadow: 0px 0px 10px 2px rgba(147,73,106,1);
		&:active,&:focus
			box-shadow: 0
			outline: none

.services
	margin-top: 205px

.tabs_wrap
	ul
		list-style-type: none
	.tabs
		ul
			padding-left: 15px
		li
			width: 100%
			text-align: right
			margin-bottom: 5px
			span
				width: 155px
				color: #6b6b6b
				padding: 15px 0
				font-size: 14px
				cursor: pointer
				text-align: left
				margin-right: 5px
				padding-left: 10px
				display: inline-block
				transition: color .25s ease
				background-color: #ffd800
				border-radius: 5px 0 0 5px
				font-family: AdelleCyrillic-Extrabold
			&.active
				span
					margin: 0
					color: #fff
					width: 100%
					cursor: default
					background-color: #666666
	.tabs_content_wrap
		padding: 35px 50px
		background-color: #666666
		background-repeat: no-repeat
		background-position: bottom center
		background-blend-mode: multiply
		.tab_content
			display: none
			&.active
				display: block
		.list_wrap
			margin-bottom: 7px
			li
				color: #b7b7b7
				&:before
					top: 0
					content: '°'
					font-size: 23px
		.attention
			color: #8b8b8b
			&:before
				top: -2px
				content: '*'
				font-size: 16px
		.list_wrap li,
		.attention
			font-size: 12px
			padding-left: 12px
			position: relative
			font-family: AdelleCyrillic-Light
			&:before
				left: 0
				position: absolute
		table
			width: 100%
			caption
				color: #b5b5b5
				font-size: 20px
				caption-side: top
			tr
				width: 100%
			td
				color: #b4b4b4
				line-height: 16px
				padding-bottom: 14px
				&:first-child
					width: 60%
					padding-left: 12px
					font-family: AdelleCyrillic-Light
				&:last-child
					width: 40%
					text-align: right
	.price
		.money,.valuta
			color: #ffe033
		.money
			font-size: 31px
			line-height: 47px
			font-family: AdelleCyrillic-Extrabold
		.valuta
			font-size: 20px
			font-family: AdelleCyrillic-SemiBold
	h5
		color: #fff
		font-weight: normal
		margin-bottom: 2px
	form, .phone_form
		display: inline-block
	.form_block
		padding-left: 50px
		background-color: #ffd800
		border-radius: 0 0 10px 10px
		box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	.phone_form
		vertical-align: middle
		span
			display: block
		.text
			color: #6b6b6b
			font-size: 14px
		.phone_number
			line-height: 30px
	form
		input
			margin-right: 15px
			&:active,&:focus
				border: 0
				box-shadow-color: #ef8d2c
		button
			box-shadow-color: #ef8d2c
	
.scope
	margin-top: -20px
	padding-top: 320px
	padding-bottom: 55px
	background-repeat: no-repeat
	background-position: top left
	.scope_top
		margin-top: -150px
	.scope_wrap
		.item
			text-align: center
			display: inline-block
			img
				height: 75px
				margin-bottom: 15px
		.item_wrap
			&:nth-child(1)
				text-align: right
			&:nth-child(2)
				text-align: center
			&:nth-child
				text-align: left

.reviews
	padding-top: 70px
	padding-bottom: 55px
	background-color: #ffd800
	background-blend-mode: multiply
	.more
		padding: 25px 0
		text-align: center
		a
			color: #000000
			font-size: 14px
			text-decoration: none
			border-bottom: 1px dashed #000000
			&:hover
				border-bottom: 0
	.content_slide
		width: 500px
		padding: 30px
		border-radius: 10px
		vertical-align: top
		background-color: #fff
		.text_wrap,.img_wrap
			vertical-align: top
			display: inline-block
		.text_wrap
			width: 310px
			h4,.date
				display: inline-block
			.date
				float: right
				color: #d4d4d4
				font-size: 14px
			h4
				margin-bottom: 12px
			p
				color: #787878
				line-height: 22px
			.date,p
				font-family: AdelleCyrillic-Light
		.img_wrap
			width: 92px
			margin-right: 32px
			img
				width: 92px
				height: 92px
				border-radius: 10px
	.container
		position: relative
	.arrows_wrap
		position: relative
		a
			top: 72px
			z-index: 10
			width: 22px
			height: 22px
			position: absolute
			&.prev
				left: calc(50% - 280px)
			&.next
				right: calc(50% - 280px)
			&:hover,&:active,&:focus,&:visited
				svg
					fill: #e2534f
		svg
			width: 22px
			transition: fill .5s ease
	.slick-slide
		opacity: 0
	.slick-active
		opacity: 1
		left: -142px
		position: relative
		transform: scale(0.5)
		transition: transform .5s ease
		.content_slide
			transition: transform .5s ease
		&.slick-center
			left: -85px
			z-index: 999
			transform: scale(1)
		+ .slick-center
			+ .slick-active
				left: 58px


.vantages
	padding-top: 70px
	padding-bottom: 115px
	background-repeat: no-repeat
	background-position: top right
	h2
		margin-bottom: 65px
	.vantages_wrap
		padding: 0 40px
	.vantage
		margin: 0 20px
		text-align: center
		display: inline-block
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 0
	.img_wrap
		margin-bottom: 25px
	h5
		color: #6b6b6b

.contacts
	padding-top: 35px
	.content_contacts
		position: relative
	#map
		z-index: 1
		height: 360px
	.adr_and_form
		.container
			top: 0
			left: 0
			right: 0
			height: 100%
			position: absolute
		.subhead
			font-size: 20px
			margin-bottom: 30px
			display: inline-block
		.block_abs
			top: -10px
			z-index: 10
			width: 351px
			padding: 25px 30px
			position: absolute
			height: calc(100% + 10px)
			border-radius: 10px 10px 0 0
		.left
			left: 15px
		.right
			right: 15px
			h3
				color: #fff
				font-size: 30px
			.subhead
				color: #d2d2d2
		.yellow
			background-color: rgba(255, 235, 59, 0.9)
		.gray
			background-color: rgba(107, 107, 107, 0.9)
		table
			td
				&:first-child
					width: 70px
					font-size: 14px
					font-family: AdelleCyrillic-Light
				&:last-child
					font-size: 16px
					font-family: AdelleCyrillic-SemiBold
				i
					color: #000000
					font-size: 18px
				a
					margin-right: 10px
			.mb
				td
					padding-bottom: 20px
		.wrap_form
			padding: 30px 40px
			border-radius: 5px
			border: 1pt solid #ffeb3b
			form
				height: auto
			label
				padding: 0
				display: block
				margin: 0 auto
			input
				margin: 0
				margin-bottom: 20px

footer
	padding: 5px 0
	.logo
		img
			width: 123px
	.menu
		ul
			margin: 0
			padding: 0
			padding-top: 5px
			list-style-type: none
		li
			margin-right: 60px
			display: inline-block
			&:last-child
				margin-right: 0
			a
				color: #6b6b6b
				text-decoration: none
				&:active,&:visited,&:focus
					color: #6b6b6b
			&.active
				a
					color: #000000
					font-family: AdelleCyrillic-SemiBold
					&:active,&:visited,&:focus
						color: #000000



@import "media" // Always at the end
