body {
  margin: 0;
  padding: 0;
  min-width: 600px;
}

.email-container {
  font-family: sans-serif;
  font-size: 14px;
  color: #666; }

.email-center {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px; 
  background-color: #fff;
}

.email-topline {
  padding: 10px 5px;
  border: 1px solid #000;
  border-top: 0;
  border-radius: 0px 0px 30px 30px;
}

.icon_phone{
  width: 17px;
  margin-left: 4px;
}

.email-logo {
  max-width: 210px;
  float: left;
}

.telephone{
  display: inline-block;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
}

.stock{
  padding: 30px 10px 15px 10px;
  text-align: center;
}

.stock-text{
  border: 2px solid #eaeaea;
  border-top: 3px solid #7bca33;
}

.stock h1{
  text-transform: uppercase;
  font-size: 27px;
}

.stock p{
  text-transform: uppercase;
  font-size: 20px;
}

.stock img {
  width: 100%;
}

.standart{
  padding: 20px 10px;
}

.within{
  padding: 50px 0 20px 0;
}

.image-block{
  margin-right: 25px;
}

.advantages img{
  width: 200px;
  box-shadow: 1px 3px 31px 0px #000000;
}

.advantages h3{
  font-size: 20px;
}

.item-advant{
  display: flex;
  margin-bottom: 30px;
}

.block-products img {
  width: 170px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 3px 31px 0px #000000;
}

.product-button{
  background-color: #7bca33;
  text-decoration: none;
  padding: 15px 25px;
  font-size: 20px;
  color: #000;
  border-radius: 10px;
  box-shadow: 36px 28px 84px -27px #000000;
}

.sweet, .beverages, .products{
  margin-bottom: 30px;
}