* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: "ArialRegular", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

h1 {
  font-size: 50px;
  font-family: OpenSansLight;
  padding: 0;
  margin: 0;
  line-height: 65px; }

h2 {
  font-family: OpenSansLight;
  font-size: 48px;
  padding: 0;
  margin: 0; }

h3 {
  font-family: OpenSansLight;
  font-size: 36px; }

h4 {
  font-family: OpenSansLight;
  font-size: 16px; }

#button_gumb {
  width: 40px;
  height: 45px;
  position: relative;
  margin: 2px 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none; }
  #button_gumb span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: #80c770;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    #button_gumb span:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0; }
    #button_gumb span:nth-child(odd) {
      left: 0px;
      border-radius: 9px 0 0 9px; }
    #button_gumb span:nth-child(1), #button_gumb span:nth-child(2) {
      top: 5px; }
    #button_gumb span:nth-child(3), #button_gumb span:nth-child(4) {
      top: 18px; }
    #button_gumb span:nth-child(5), #button_gumb span:nth-child(6) {
      top: 31px; }
  #button_gumb.active span:nth-child(1), #button_gumb.active span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #button_gumb.active span:nth-child(2), #button_gumb.active span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #button_gumb.active span:nth-child(1) {
    left: 5px;
    top: 12px; }
  #button_gumb.active span:nth-child(2) {
    left: calc(50% - 5px);
    top: 12px; }
  #button_gumb.active span:nth-child(3) {
    left: -50%;
    opacity: 0; }
  #button_gumb.active span:nth-child(4) {
    left: 100%;
    opacity: 0; }
  #button_gumb.active span:nth-child(5) {
    left: 5px;
    top: 22px; }
  #button_gumb.active span:nth-child(6) {
    left: calc(50% - 5px);
    top: 22px; }

.account_menu {
  padding: 10px 15px;
  background-color: #f9f9f9;
  text-align: right; }
  .account_menu a {
    font-size: 12px;
    color: #656565;
    padding: 0 10px;
    border-left: 1px solid #656565; }

.topline_menu {
  background-color: #fff;
  padding: 30px 0;
  border-bottom: 5px solid #efefed; }
  .topline_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0; }
  .topline_menu li {
    display: inline-block;
    padding: 0 10px; }
  .topline_menu a {
    font-family: OpenSansBold;
    font-weight: bold;
    color: #373230;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
  .topline_menu .search_cart {
    text-align: right; }
  .topline_menu .logo {
    width: 100%; }

.product_item_wrap {
  background-color: #eaeaea;
  width: 270px;
  min-height: 325px;
  margin: 0 10px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  outline: none; }
  .product_item_wrap .product_item {
    position: relative; }
    .product_item_wrap .product_item img {
      width: 100%;
      margin-bottom: 2px; }
  .product_item_wrap .new_product_item {
    position: relative; }
    .product_item_wrap .new_product_item::before {
      height: 50%;
      width: 100%;
      content: "";
      position: absolute;
      top: -15px;
      left: -15px;
      background: url(../img/nuevos.png) no-repeat; }
  .product_item_wrap h4.name_product {
    line-height: 20px;
    padding: 0 14px 0 0; }
    .product_item_wrap h4.name_product a {
      color: #3c3c3c; }
  .product_item_wrap .price {
    line-height: 4px;
    color: #80c770; }
  .product_item_wrap .in_cart {
    position: absolute;
    bottom: -9px;
    right: 0; }
    .product_item_wrap .in_cart img {
      width: 35px;
      height: 35px; }

a.button {
  color: #000;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 1s ease; }
  a.button:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff; }

footer {
  padding: 70px 0; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    footer ul ul {
      margin: 15px 0; }
  footer li {
    margin: 5px 2px;
    padding: 0;
    border-bottom: 1px solid #e8e8e8; }
  footer a {
    color: #383838; }
  footer .category li {
    float: left;
    display: inline-block;
    width: 45%; }
  footer .phone {
    font-size: 15px; }
  footer .email {
    font-size: 16px;
    font-family: OpenSansBold; }
  footer span {
    font-family: OpenSansBold;
    font-size: 15px;
    color: #9f9f9f; }
  footer .side {
    display: inline-block;
    margin-bottom: 20px; }

.slideshow_section {
  max-height: 100%;
  position: relative; }

.slideshow {
  max-height: 100%; }
  .slideshow .slide_content {
    position: fixed;
    color: #fff;
    text-align: center;
    max-width: 530px;
    top: 70px;
    margin-left: 3%; }
  .slideshow img {
    width: 100%;
    height: 100%; }

.buttons_newpr {
  position: relative;
  bottom: -25px; }

.main_sl_buttons {
  position: relative;
  top: 50%;
  background-color: #fff;
  border: 0;
  transition: all 0.5s ease;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  z-index: 2;
  outline: none; }
  .main_sl_buttons img {
    width: 100%; }
  .main_sl_buttons:hover {
    opacity: 0.4; }
  .main_sl_buttons:active {
    outline: none; }

.buttons_block {
  position: absolute;
  bottom: -40%;
  height: 100%;
  width: 100%; }

.block_button_next {
  text-align: right; }

.prev {
  left: 0; }

.next {
  right: 0; }

.products_section {
  background-color: #f4f4f2;
  padding: 60px 0; }
  .products_section .best_products {
    margin-bottom: 60px; }
  .products_section .bestp_item {
    border: 10px solid #fff;
    padding: 0; }
    .products_section .bestp_item img {
      width: 100%; }
  .products_section .bestp_content {
    width: 40%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 50px; }
  .products_section h3 {
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
    padding: 0 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff; }

.special_products {
  text-align: center; }

.filter_div ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: OpenSansBold;
  font-size: 0;
  margin-bottom: 40px;
  max-height: 50px; }
  .filter_div ul li.filter {
    display: inline-block;
    font-size: 18px;
    margin: 0 15px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #7c7c7c; }
    .filter_div ul li.filter.active {
      cursor: default;
      border-bottom: 3px solid #80c770; }

#grid_spec_products .product_item_wrap {
  display: none; }

.services_section {
  padding: 80px 0 120px 70px;
  background: #d6d6d5 url(../img/water.png) no-repeat left 100%; }
  .services_section .services_content {
    max-width: 500px; }
  .services_section h2 {
    color: #555555;
    text-transform: uppercase;
    line-height: 55px;
    padding: 0; }
    .services_section h2 span {
      color: #80c770; }

.new_products_section {
  background-color: #f4f4f2;
  padding: 140px 0 125px 0; }
  .new_products_section h3 {
    margin: 0;
    margin-bottom: 10px; }

.buttons_newpr button {
  border: 0;
  background-color: #e1dfdf;
  float: right;
  position: static;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 10px; }

.advantages {
  margin-top: 100px; }
  .advantages .advantage_item {
    text-align: center;
    margin-bottom: 35px; }
    .advantages .advantage_item .img_container {
      margin: 0 auto;
      height: 60px;
      width: 60px;
      margin-bottom: 25px; }
    .advantages .advantage_item span {
      font-family: OpenSansBold;
      font-size: 24px; }
    .advantages .advantage_item a {
      font-family: OpenSansBold;
      font-size: 18px; }

.main_login_block {
  height: 1180px;
  text-align: center;
  background: url(../img/login_bg.png) no-repeat center;
  background-size: cover; }
  .main_login_block:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.form_block {
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.35em;
  font-family: OpenSansLight;
  text-align: center;
  background-color: #fff;
  height: 420px;
  border-top: 5px solid #80c770;
  border-radius: 5px; }
  .form_block h3 {
    font-family: OpenSansLight;
    border-bottom: 1px solid #e8e8e8;
    margin: 0;
    display: block;
    padding: 5px 0;
    margin: 0 45px; }
  .form_block form {
    padding: 15px 45px; }
  .form_block label, .form_block input {
    display: block; }
  .form_block label {
    margin-top: 20px; }
  .form_block input {
    width: 250px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    outline: none;
    padding: 0 4px; }
  .form_block span {
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-family: OpenSansBold; }
  .form_block input.button {
    margin: 20px auto;
    width: 100px;
    height: 40px;
    background-color: #80c770;
    color: #fff; }
  .form_block .forgot_pass {
    color: #000; }
  .form_block .reg_block {
    padding: 15px 0;
    text-align: center;
    background-color: #fbfbfb;
    border-top: 2px solid #f4f4f4; }
    .form_block .reg_block a {
      background-color: #000;
      color: #fff; }

/*# sourceMappingURL=main.css.map */
