@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: "ArialRegular", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

h1 {
  font-size: 50px;
  font-family: OpenSansLight;
  padding: 0;
  margin: 0;
  line-height: 65px; }

h2 {
  font-family: OpenSansLight;
  font-size: 48px;
  padding: 0;
  margin: 0; }

h3 {
  font-family: OpenSansLight;
  font-size: 36px; }

h4 {
  font-family: OpenSansLight;
  font-size: 16px; }

#button_gumb {
  width: 40px;
  height: 45px;
  position: relative;
  margin: 2px 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none; }
  #button_gumb span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: #80c770;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    #button_gumb span:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0; }
    #button_gumb span:nth-child(odd) {
      left: 0px;
      border-radius: 9px 0 0 9px; }
    #button_gumb span:nth-child(1), #button_gumb span:nth-child(2) {
      top: 5px; }
    #button_gumb span:nth-child(3), #button_gumb span:nth-child(4) {
      top: 18px; }
    #button_gumb span:nth-child(5), #button_gumb span:nth-child(6) {
      top: 31px; }
  #button_gumb.active span:nth-child(1), #button_gumb.active span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #button_gumb.active span:nth-child(2), #button_gumb.active span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #button_gumb.active span:nth-child(1) {
    left: 5px;
    top: 12px; }
  #button_gumb.active span:nth-child(2) {
    left: calc(50% - 5px);
    top: 12px; }
  #button_gumb.active span:nth-child(3) {
    left: -50%;
    opacity: 0; }
  #button_gumb.active span:nth-child(4) {
    left: 100%;
    opacity: 0; }
  #button_gumb.active span:nth-child(5) {
    left: 5px;
    top: 22px; }
  #button_gumb.active span:nth-child(6) {
    left: calc(50% - 5px);
    top: 22px; }

.account_menu {
  padding: 10px 15px;
  background-color: #f9f9f9;
  text-align: right; }
  .account_menu a {
    font-size: 12px;
    color: #656565;
    padding: 0 10px;
    border-left: 1px solid #656565; }

.topline_menu {
  background-color: #fff;
  padding: 30px 0;
  border-bottom: 5px solid #efefed; }
  .topline_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0; }
  .topline_menu li {
    display: inline-block;
    padding: 0 10px; }
  .topline_menu a {
    font-family: OpenSansBold;
    font-weight: bold;
    color: #373230;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
  .topline_menu .search_cart {
    text-align: right; }
  .topline_menu .logo {
    width: 100%; }

.product_item_wrap {
  background-color: #eaeaea;
  width: 270px;
  min-height: 325px;
  margin: 0 10px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  outline: none; }
  .product_item_wrap .product_item {
    position: relative; }
    .product_item_wrap .product_item img {
      width: 100%;
      margin-bottom: 2px; }
  .product_item_wrap .new_product_item {
    position: relative; }
    .product_item_wrap .new_product_item::before {
      height: 50%;
      width: 100%;
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      background: url(../img/nuevos.png) no-repeat; }
  .product_item_wrap .sentence_product_item {
    position: relative; }
    .product_item_wrap .sentence_product_item:before {
      height: 50%;
      width: 100%;
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      z-index: 2;
      background: url(../img/sentence.png) no-repeat; }
  .product_item_wrap h4.name_product {
    line-height: 20px;
    padding: 0 14px 0 0; }
    .product_item_wrap h4.name_product a {
      color: #3c3c3c; }
  .product_item_wrap .price {
    line-height: 4px;
    color: #80c770; }
  .product_item_wrap .in_cart {
    position: absolute;
    bottom: -9px;
    right: 0; }
    .product_item_wrap .in_cart img {
      width: 35px;
      height: 35px; }

a.button {
  color: #000;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 1s ease; }
  a.button:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff; }

footer {
  padding: 70px 0;
  background-color: #f9f9f9; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    footer ul ul {
      margin: 15px 0; }
  footer li {
    margin: 5px 2px;
    padding: 0;
    border-bottom: 1px solid #e8e8e8; }
  footer a {
    color: #383838; }
  footer .category li {
    float: left;
    display: inline-block;
    width: 45%; }
  footer .phone {
    font-size: 15px; }
  footer .email {
    font-size: 16px;
    font-family: OpenSansBold; }
  footer span {
    font-family: OpenSansBold;
    font-size: 15px;
    color: #9f9f9f; }
  footer .side {
    display: inline-block;
    margin-bottom: 20px; }

.slideshow_section {
  max-height: 100%;
  position: relative; }

.slideshow {
  max-height: 100%; }
  .slideshow .slide_content {
    position: fixed;
    color: #fff;
    text-align: center;
    max-width: 530px;
    top: 70px;
    margin-left: 3%; }
  .slideshow img {
    width: 100%;
    height: 100%; }

.buttons_newpr {
  position: relative;
  bottom: -25px; }

.main_sl_buttons {
  position: relative;
  top: 50%;
  background-color: #fff;
  border: 0;
  transition: all 0.5s ease;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  z-index: 2;
  outline: none; }
  .main_sl_buttons img {
    width: 100%; }
  .main_sl_buttons:hover {
    opacity: 0.4; }
  .main_sl_buttons:active {
    outline: none; }

.buttons_block {
  position: absolute;
  bottom: -40%;
  height: 100%;
  width: 100%; }

.block_button_next {
  text-align: right; }

.prev {
  left: 0; }

.next {
  right: 0; }

.products_section {
  background-color: #f4f4f2;
  padding: 60px 0; }
  .products_section .best_products {
    margin-bottom: 60px; }
  .products_section .bestp_item {
    border: 10px solid #fff;
    padding: 0; }
    .products_section .bestp_item img {
      width: 100%; }
  .products_section .bestp_content {
    width: 40%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 50px; }
  .products_section h3 {
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
    padding: 0 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff; }

.special_products {
  text-align: center; }

.filter_div ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: OpenSansBold;
  font-size: 0;
  margin-bottom: 40px;
  max-height: 50px; }
  .filter_div ul li.filter {
    display: inline-block;
    font-size: 18px;
    margin: 0 15px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #7c7c7c; }
    .filter_div ul li.filter.active {
      cursor: default;
      border-bottom: 3px solid #80c770; }

#grid_spec_products .product_item_wrap {
  display: none; }

.services_section {
  padding: 80px 0 120px 70px;
  background: #d6d6d5 url(../img/water.png) no-repeat left 100%; }
  .services_section .services_content {
    max-width: 500px; }
  .services_section h2 {
    color: #555555;
    text-transform: uppercase;
    line-height: 55px;
    padding: 0; }
    .services_section h2 span {
      color: #80c770; }

.new_products_section {
  background-color: #f4f4f2;
  padding: 140px 0 125px 0; }
  .new_products_section h3 {
    margin: 0;
    margin-bottom: 10px; }

.buttons_newpr button {
  border: 0;
  background-color: #e1dfdf;
  float: right;
  position: static;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 10px; }

.advantages {
  margin-top: 100px; }
  .advantages .advantage_item {
    text-align: center;
    margin-bottom: 35px; }
    .advantages .advantage_item .img_container {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      margin-bottom: 25px; }
    .advantages .advantage_item span {
      font-family: OpenSansBold;
      font-size: 24px; }
    .advantages .advantage_item a {
      font-family: OpenSansBold;
      font-size: 18px; }

.main_login_block {
  height: 1180px;
  text-align: center;
  background: url(../img/login_bg.png) no-repeat center;
  background-size: cover; }
  .main_login_block:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle; }

.form_block {
  height: 420px;
  border-radius: 5px;
  text-align: center;
  margin-left: -0.35em;
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  font-family: OpenSansLight;
  border-top: 5px solid #80c770; }
  .form_block h3 {
    margin: 0;
    display: block;
    padding: 5px 0;
    margin: 0 45px;
    font-family: OpenSansLight;
    border-bottom: 1px solid #e8e8e8; }
  .form_block form {
    padding: 0px 45px 15px 45px; }
  .form_block label, .form_block input {
    display: block; }
  .form_block label {
    margin-top: 20px; }
  .form_block input {
    width: 250px;
    height: 30px;
    outline: none;
    padding: 0 4px;
    border-radius: 3px;
    border: 1px solid #e3e3e3; }
  .form_block span {
    margin: 0;
    padding: 0;
    font-size: 12px;
    margin-bottom: 5px;
    font-family: OpenSansBold; }
  .form_block .green_button {
    color: #fff;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    background-color: #80c770; }
  .form_block .forgot_pass {
    color: #000; }
  .form_block .reg_block {
    padding: 15px 0;
    text-align: center;
    background-color: #fbfbfb;
    border-top: 2px solid #f4f4f4; }
  .form_block .black_button {
    color: #fff;
    background-color: #000; }

.header_nav {
  padding: 5px 0;
  background-color: #f4f4f2; }

.breadcrumb {
  margin: 0;
  font-size: 0;
  display: block;
  padding: 10px 0;
  list-style-type: none;
  border-bottom: 1px solid #eaeae9; }
  .breadcrumb li {
    font-size: 12px;
    display: inline-block; }
    .breadcrumb li a {
      color: #000;
      padding: 0 5px; }
    .breadcrumb li:after {
      content: "";
      font-family: FontAwesome; }
    .breadcrumb li:last-child a {
      color: #808080; }
    .breadcrumb li:last-child:after {
      content: ""; }

.header_category h3 {
  margin: 10px 0;
  text-transform: uppercase; }

.buttons_nav {
  margin: 29px 0;
  text-align: right; }
  .buttons_nav a.nav_button_pr {
    color: #000;
    padding: 5px 0px;
    background-color: #FFF;
    transition: all 0.5s ease;
    border: 1px solid #e0e0e0; }
    .buttons_nav a.nav_button_pr:hover {
      text-decoration: none;
      background-color: #f8f8f8; }
  .buttons_nav .prev span {
    padding: 0 10px;
    border-left: 1px solid #e6e6e6; }
  .buttons_nav .prev .icon:after {
    padding: 0 5px;
    content: "";
    font-family: FontAwesome; }
  .buttons_nav .next span {
    padding: 0 10px;
    border-right: 1px solid #e6e6e6; }
  .buttons_nav .next .icon:after {
    padding: 0 5px;
    content: "";
    font-family: FontAwesome; }

.product_descr_block {
  padding: 20px 0 0 0;
  background-color: #fafafa; }
  .product_descr_block .img_block {
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    border: 10px solid #eaeaea; }
    .product_descr_block .img_block img {
      width: 100%;
      display: inline-block; }
  .product_descr_block .sentence {
    position: relative; }
    .product_descr_block .sentence:before {
      height: 50%;
      width: 100%;
      content: "";
      position: absolute;
      z-index: 2;
      background: url(../img/sentence.png) no-repeat; }
  .product_descr_block .new {
    position: relative; }
    .product_descr_block .new:before {
      height: 50%;
      width: 100%;
      content: "";
      position: absolute;
      z-index: 2;
      background: url(../img/nuevos.png) no-repeat; }
  .product_descr_block .product_img_slider {
    width: 450px;
    height: 140px;
    overflow: hidden;
    padding: 5px 50px;
    border-radius: 3px;
    background-color: #fff;
    border: 3px solid #eaeaea; }
    .product_descr_block .product_img_slider .buttons {
      position: absolute; }
    .product_descr_block .product_img_slider .img_items {
      text-align: center; }
      .product_descr_block .product_img_slider .img_items .img_item {
        width: 120px;
        height: 120px;
        cursor: pointer;
        display: inline-block;
        background-color: #fff;
        outline: none; }
      .product_descr_block .product_img_slider .img_items img {
        width: 100%; }
    .product_descr_block .product_img_slider .product_sl_button {
      position: absolute;
      background-color: transparent;
      border: 0;
      z-index: 1;
      top: 35px;
      width: 65px;
      outline: none; }
    .product_descr_block .product_img_slider .prev {
      left: -65px; }
    .product_descr_block .product_img_slider .next {
      right: -65px; }
  .product_descr_block h4 {
    font-family: MyriadProRegular;
    font-size: 30pt;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
    line-height: 30px; }

#reviewStars-input {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  top: 3px;
  display: inline-block; }
  #reviewStars-input input:checked ~ label {
    background: url("../img/sprite.png") no-repeat;
    background-size: 100%; }
  #reviewStars-input label {
    background: url("../img/sprite.png") no-repeat;
    background-size: 100%; }
    #reviewStars-input label:hover {
      background: url("../img/sprite.png") no-repeat;
      background-size: 100%; }
      #reviewStars-input label:hover ~ label {
        background: url("../img/sprite.png") no-repeat;
        background-size: 100%; }
  #reviewStars-input input {
    top: 0;
    z-index: 0;
    opacity: 0;
    width: 15px;
    height: 15px;
    position: absolute;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
    #reviewStars-input input:checked ~ label {
      width: 15px;
      height: 15px;
      background-position: 0 -14px; }
  #reviewStars-input label {
    background-position: 0 0;
    height: 15px;
    width: 15px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 1; }
    #reviewStars-input label:hover {
      background-position: 0 -14px;
      height: 15px;
      width: 15px; }
      #reviewStars-input label:hover ~ label {
        background-position: 0 -14px;
        height: 15px;
        width: 15px; }
  #reviewStars-input #star-0 {
    left: 0px; }
  #reviewStars-input #star-1 {
    left: 26px; }
  #reviewStars-input #star-2 {
    left: 52px; }
  #reviewStars-input #star-3 {
    left: 77px; }
  #reviewStars-input #star-4 {
    left: 102px; }

.review_assessment {
  padding: 15px 0; }
  .review_assessment a {
    color: #1b1a19;
    font-size: 12px;
    margin: 0 10px; }
  .review_assessment span {
    color: #c5c4c4; }

.price_status {
  border-bottom: 1px solid #ececec; }
  .price_status .price {
    color: #80c770;
    font-size: 48px;
    display: inline-block;
    margin: 0 5px; }
    .price_status .price + div {
      display: inline-block;
      margin: 0 5px; }
  .price_status .old_price {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    text-decoration: line-through; }
  .price_status .presence {
    margin: 0;
    padding: 0;
    color: #80c770;
    font-size: 12px;
    line-height: 30px; }

.description {
  padding: 15px 0;
  font-size: 14px;
  font-family: OpenSansLight;
  border-bottom: 1px solid #ececec; }
  .description .p_descr {
    color: #1b1a19;
    padding: 0;
    margin: 0; }

.quantity {
  padding: 15px 0;
  border-bottom: 1px solid #ececec; }
  .quantity label {
    color: #1b1a19; }
  .quantity input {
    margin: 0 10px;
    height: 30px;
    width: 45px;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ececec; }

.button_tocart {
  padding: 15px 0; }
  .button_tocart button {
    border: 0;
    height: 50px;
    width: 200px;
    text-align: left;
    border-radius: 5px;
    background-color: #80c770; }
  .button_tocart span {
    top: 3px;
    color: #fff;
    padding: 0 10px;
    font-size: 16px;
    margin-left: 10px;
    position: relative;
    font-family: OpenSansLight;
    border-left: 1px solid #96cd8a; }

.soc_netw ul {
  list-style-type: none;
  padding: 0; }
.soc_netw li {
  display: inline-block;
  margin: 0 2px; }
.soc_netw a {
  font-size: 23px; }
  .soc_netw a .facebook {
    color: #3b5998; }
  .soc_netw a .twitter {
    color: #21a1f2; }
  .soc_netw a .plus {
    color: #ff6550; }
  .soc_netw a span {
    display: inline-block;
    height: 23px;
    width: 35px;
    color: #000;
    background-color: #FFF;
    border: 1px solid #c2c2c2;
    text-align: center;
    margin-left: 12px;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none; }
    .soc_netw a span::before, .soc_netw a span::after {
      content: "";
      position: absolute;
      left: 90px;
      bottom: 27px;
      border: 7px solid transparent;
      border-right: 7px solid #c2c2c2; }
    .soc_netw a span::after {
      border-right: 7px solid #fff;
      bottom: 27px;
      left: 92px; }

.information {
  padding: 30px 0; }
  .information .tabs {
    position: relative;
    top: 2px; }
  .information .tab {
    display: inline-block;
    background-color: #f5f5f5;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #e1e1e1;
    z-index: 1;
    cursor: pointer; }
    .information .tab:nth-child(2) {
      margin: 0 5px; }
  .information .tab.active {
    box-shadow: 0px -1px 0px 1px rgba(0, 0, 0, 0.15);
    z-index: 3;
    border: 0;
    border-top: 3px solid #80c770;
    background-color: #FFF;
    cursor: default; }
  .information .tab_content {
    background-color: #FFF; }
    .information .tab_content .tab_item {
      z-index: 2;
      width: 100%;
      font-size: 15px;
      padding: 20px;
      font-size: 15px;
      font-family: OpenSansLight;
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15); }
      .information .tab_content .tab_item:nth-child(2) {
        display: none; }
      .information .tab_content .tab_item tr {
        margin-bottom: 10px; }
      .information .tab_content .tab_item td {
        width: 300px; }

.recommendations {
  padding: 30px 0;
  background-color: #FFF; }
  .recommendations .buttons_newpr {
    bottom: -50px; }

.order_header {
  padding: 40px 0; }
  .order_header h3 {
    margin: 0;
    line-height: 36px; }
  .order_header .go_order_block {
    text-align: right; }
  .order_header .go_order {
    background-color: #80c770;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: #fff; }
    .order_header .go_order span {
      padding: 0 10px;
      margin-right: 10px;
      border-right: 1px solid #91cc83; }

.table_cart {
  overflow-x: auto;
  border-radius: 5px;
  border-top: 5px solid #575757;
  box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.15); }
  .table_cart table {
    width: 1139px; }
    .table_cart table thead {
      background-color: #fbfbfb;
      line-height: 50px; }
    .table_cart table td {
      border: 1px solid #ededed; }
      .table_cart table td span {
        padding: 0 10px; }
    .table_cart table .photo_product {
      width: 150px; }
      .table_cart table .photo_product img {
        width: 100px;
        height: 100px;
        text-align: center;
        display: inline-block; }
    .table_cart table .name_product {
      width: 580px; }
    .table_cart table .edit {
      width: 60px; }
      .table_cart table .edit a {
        color: #80c770; }
    .table_cart table .price_product,
    .table_cart table .presence_product,
    .table_cart table .amount {
      width: 100px; }
    .table_cart table .presence_product input {
      width: 65px;
      height: 25px; }
    .table_cart table .delete_product {
      width: 55px; }

.text_left {
  text-align: left; }

.text_center {
  text-align: center; }

.text_right {
  text-align: right; }

.cart_buttons {
  background-color: #fbfbfb;
  padding: 20px 20px;
  margin-bottom: 40px;
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.15); }
  .cart_buttons .actualizar {
    text-align: right; }
  .cart_buttons a {
    width: 160px;
    background-color: #fdfdfd;
    padding: 10px 15px;
    color: #000;
    border-radius: 3px;
    transition: all 0.5s ease;
    box-shadow: inset -4px -4px 40px -20px rgba(0, 0, 0, 0.8); }
    .cart_buttons a:hover {
      text-decoration: none;
      box-shadow: inset -10px -10px 40px -20px black; }

.cart_forms .standart_block {
  height: auto;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin-left: -0.35em;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  font-family: OpenSansLight;
  border: 1px solid #f6f6f6;
  border-top: 5px solid #80c770; }
.cart_forms h3 {
  margin: 0;
  display: block;
  padding: 5px 0;
  margin: 0 45px;
  font-family: OpenSansLight;
  border-bottom: 1px solid #e8e8e8;
  font-size: 18px;
  font-family: OpenSansLight; }
  .cart_forms h3 > span {
    font-size: 18px; }
.cart_forms form {
  padding: 0px 45px 15px 45px; }
.cart_forms label, .cart_forms input {
  display: block; }
.cart_forms label {
  margin-top: 5px; }
.cart_forms input {
  width: 100%;
  height: 30px;
  outline: none;
  padding: 0 4px;
  border-radius: 3px;
  border: 1px solid #e3e3e3; }
.cart_forms span {
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-bottom: 5px;
  font-family: OpenSansBold; }
.cart_forms .green_button {
  color: #fff;
  width: 100px;
  height: 40px;
  margin: 20px auto;
  background-color: #80c770; }
.cart_forms p {
  font-family: OpenSansLight;
  font-size: 12px; }
.cart_forms .necessarily {
  color: red; }
.cart_forms .bottom_button {
  padding: 10px 0;
  margin-bottom: 10px; }
  .cart_forms .bottom_button .black_button,
  .cart_forms .bottom_button .green_button {
    margin: 0 auto;
    padding: 10px 0;
    display: block;
    width: 110px;
    color: #fff;
    border-radius: 5px; }
    .cart_forms .bottom_button .black_button:hover,
    .cart_forms .bottom_button .green_button:hover {
      text-decoration: none; }
  .cart_forms .bottom_button .black_button {
    background-color: #000; }
  .cart_forms .bottom_button .green_button {
    margin: 5px auto;
    background-color: #80c770; }

/*# sourceMappingURL=main.css.map */
