* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: "ArialRegular", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

h1 {
  font-size: 50px;
  font-family: OpenSansLight;
  padding: 0;
  margin: 0;
  line-height: 65px; }

h2 {
  font-family: OpenSansLight;
  font-size: 48px;
  padding: 0;
  margin: 0; }

h3 {
  font-family: OpenSansLight;
  font-size: 36px; }

.account_menu {
  padding: 10px 15px;
  background-color: #f9f9f9;
  text-align: right; }
  .account_menu a {
    font-size: 12px;
    color: #656565;
    padding: 0 10px 0 10px;
    border-left: 1px solid #656565; }

.topline_menu {
  background-color: #fff;
  padding: 30px 0;
  border-bottom: 5px solid #efefed; }
  .topline_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 0; }
  .topline_menu li {
    display: inline-block;
    padding: 0 10px; }
  .topline_menu a {
    font-family: OpenSansBold;
    font-weight: bold;
    color: #373230;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
  .topline_menu .search_cart {
    text-align: right; }

.slideshow {
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden; }
  .slideshow img {
    width: 100%;
    height: 100%; }
  .slideshow .slide_item {
    position: relative; }
  .slideshow .slide_content {
    position: absolute;
    top: 10%;
    left: 20%;
    color: #fff;
    text-align: center; }

a.button {
  color: #000;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #fff;
  transition: all 1s ease; }
  a.button:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff; }

.slick-arrow {
  position: absolute;
  top: 50%;
  background-color: #fff;
  border: 0;
  transition: all 0.5s ease;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  outline: none; }
  .slick-arrow img {
    width: 100%; }
  .slick-arrow:hover {
    opacity: 0.4; }
  .slick-arrow:active {
    outline: none; }

.prev {
  left: 12%;
  transform: translateX(12%);
  z-index: 2; }

.next {
  right: 12%;
  transform: translateX(-12%); }

.products_section {
  background-color: #f4f4f2;
  padding: 60px 0; }
  .products_section .best_products {
    margin-bottom: 60px; }
  .products_section .bestp_item {
    border: 10px solid #fff;
    padding: 0; }
    .products_section .bestp_item img {
      width: 100%; }
  .products_section .bestp_content {
    width: 40%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 50px; }
  .products_section h3 {
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
    padding: 0 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff; }

.special_products {
  text-align: center; }

.filter_div ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: OpenSansBold;
  font-size: 0;
  margin-bottom: 40px;
  max-height: 50px; }
  .filter_div ul li.filter {
    display: inline-block;
    font-size: 18px;
    margin: 0 15px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #7c7c7c; }
    .filter_div ul li.filter.active {
      cursor: default;
      border-bottom: 3px solid #80c770; }

#grid_spec_products .product_item_wrap {
  display: none; }

.product_item_wrap {
  background-color: #eaeaea;
  width: 270px;
  height: 325px;
  margin: 0 10px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  border-radius: 5px; }
  .product_item_wrap .product_item img {
    width: 100%;
    margin-bottom: 2px; }
  .product_item_wrap .name_product {
    line-height: 0; }
  .product_item_wrap .price {
    line-height: 4px;
    color: #80c770; }
  .product_item_wrap .in_cart img {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 15px;
    right: 10px; }

.services {
  padding: 80px 0 120px 70px;
  background: #d6d6d5 url(../img/water.png) no-repeat left 100%; }
  .services .servicec_content {
    max-width: 500px; }
  .services h2 {
    color: #555555;
    text-transform: uppercase;
    line-height: 55px;
    padding: 0; }
    .services h2 span {
      color: #80c770; }

/*# sourceMappingURL=main.css.map */
