@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.slider 
		.slick-dots
			left: -400px
	.vantage 
		.item 
			h4
				padding: 0 5px

	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.slider 
		.slide
			background-size: cover;
			background-position: right center;
		.slick-dots
			left: -300px
	.vantage 
		.item 
			padding: 0 25px
	.scope
		.item
			height: 250px
			&:hover
				.item_content
					top: 25px
					bottom: 25px
					left: 25px 
					right: 25px
		.item_content
			width: 90%
			padding: 20px 30px 30px 20px
			&:after
				display: none
		p
			display: none
	.solutions
		.inner_link h2
			font-size: 1.3em
		.hr
			display: none
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	h1
		font-size: (35 / 16) * 1em
	h2,
	.inner_link h2
		font-size: (24 / 16) * 1em
	.slider 
		.slide
			padding: 70px 20px
			background-position: center center;
		.content_slide
			width: 70%
	.vantage 
		.item 
			padding: 0 22px
	.solutions
		.inner_link
			top: 15px
			left: 15px
			right: 15px
			bottom: 15px
			padding: 5px
	.about_us
		p
			padding: 0 35px
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	h1
		font-size: (25 / 16) * 1em
	.slider 
		.content_slide
			width: 85%
		.slick-dots
			left: -10px
	.scope
		.item
			width: 100%
	.solutions
		.inner_link
			padding: 10px
		h2
			font-size: (20 / 16) * 1em
	.about_us
		p
			padding: 0 15px
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	h1
		font-size: (15 / 16) * 1em
	.slider 
		.content_slide
			width: 100%
		h1
			line-height: 30px
			padding: 10px 20px
	.vantage 
		.item 
			padding: 0 5px
	.solutions
		.inner_link
			padding: 0
		h2
			font-size: (20 / 16) * 1em
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

