@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	padding: 0
	margin: 0

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

h1
	font-size: 50px
	font-family: OpenSansLight
	padding: 0
	margin: 0
	line-height: 65px

h2
	font-family: OpenSansLight
	font-size: 48px
	padding: 0
	margin: 0

h3
	font-family: OpenSansLight
	font-size: 36px
	text-transform: uppercase

h4
	font-family: OpenSansLight
	font-size: 16px

//BUTTON MENU

#button_gumb
	width: 40px
	height: 45px
	position: relative
	margin: 2px 20px
	-webkit-transform: rotate(0deg)
	-moz-transform: rotate(0deg)
	-o-transform: rotate(0deg)
	transform: rotate(0deg)
	-webkit-transition: .5s ease-in-out
	-moz-transition: .5s ease-in-out
	-o-transition: .5s ease-in-out
	transition: .5s ease-in-out
	cursor: pointer
	display: none
	span
		display: block
		position: absolute
		height: 9px
		width: 50%
		background: $main-color
		opacity: 1
		-webkit-transform: rotate(0deg)
		-moz-transform: rotate(0deg)
		-o-transform: rotate(0deg)
		transform: rotate(0deg)
		-webkit-transition: .25s ease-in-out
		-moz-transition: .25s ease-in-out
		-o-transition: .25s ease-in-out
		transition: .25s ease-in-out
		&:nth-child(even)
			left: 50%
			border-radius: 0 9px 9px 0
		&:nth-child(odd)
			left: 0px
			border-radius: 9px 0 0 9px
		&:nth-child(1), &:nth-child(2)
			top: 5px
		&:nth-child(3), &:nth-child(4)
			top: 18px
		&:nth-child(5), &:nth-child(6)
			top: 31px
	&.active 
		span
			&:nth-child(1), &:nth-child(6)
				-webkit-transform: rotate(45deg)
				-moz-transform: rotate(45deg)
				-o-transform: rotate(45deg)
				transform: rotate(45deg)
			&:nth-child(2), &:nth-child(5)
				-webkit-transform: rotate(-45deg)
				-moz-transform: rotate(-45deg)
				-o-transform: rotate(-45deg)
				transform: rotate(-45deg)
			&:nth-child(1)
				left: 5px
				top: 12px
			&:nth-child(2)
				left: calc(50% - 5px)
				top: 12px
			&:nth-child(3)
				left: -50%
				opacity: 0
			&:nth-child(4)
				left: 100%
				opacity: 0
			&:nth-child(5)
				left: 5px
				top: 22px
			&:nth-child(6)
				left: calc(50% - 5px)
				top: 22px

//BUTTON MENU

// STANDART STYLES HEADER

.account_menu
	padding: 10px 15px
	background-color: #f9f9f9
	text-align: right
	a
		font-size: 12px
		color: #656565
		padding: 0 10px
		border-left: 1px solid #656565

.topline_menu
	background-color: #fff
	padding: 30px 0
	border-bottom: 5px solid #efefed
	ul
		padding: 0
		margin: 0
		list-style-type: none
		font-size: 0
	li 
		display: inline-block
		padding: 0 10px
	a
		font-family: OpenSansBold
		font-weight: bold
		color: #373230
		font-size: 14px
		line-height: 40px
		text-transform: uppercase
		margin: 0
		padding: 0
	.search_cart
		text-align: right

	.logo
		width: 100%

// STANDART STYLES HEADER END


//STANDART STYLES PRODUCT BLOCK

.product_item_wrap
	background-color: #eaeaea
	width: 270px
	min-height: 325px
	margin: 0 10px
	margin-bottom: 20px
	padding: 10px
	text-align: left
	border-radius: 5px
	outline: none
	.product_item
		position: relative
		img
			width: 100%
			margin-bottom: 2px 
	.new_product_item
		position: relative
		&::before 
			height: 50%
			width: 100%
			content: ""
			position: absolute
			top: -10px
			left: -10px
			background: url(../img/nuevos.png) no-repeat
	.sentence_product_item
		position: relative
		&:before 
			height: 50%
			width: 100%
			content: ""
			position: absolute
			top: -10px
			left: -10px
			z-index: 2
			background: url(../img/sentence.png) no-repeat
	h4.name_product
		line-height: 20px
		padding: 0 14px 0 0
		a
			color: #3c3c3c
	.price
		line-height: 4px
		color: $main-color
	.in_cart
		position: absolute
		bottom: -9px 
		right: 0
		img
			width: 35px
			height: 35px

//STANDART STYLES PRODUCT END

// BUTTON HOVER
a.button
	color: #000
	display: inline-block
	padding: 10px 40px
	border-radius: 5px
	background-color: #fff
	transition: all 1s ease
	&:hover
		text-decoration: none
		background-color: transparent
		color: #fff
// BUTTON HOVER END


// STANDART STYLES FOOTER


footer
	padding: 70px 0
	background-color: #f9f9f9
	ul
		padding: 0
		margin: 0
		list-style-type: none
		ul
			margin: 15px 0
	li
		margin: 5px 2px
		padding: 0
		border-bottom: 1px solid #e8e8e8
	a
		color: #383838
	.category
		li
			float: left
			display: inline-block
			width: 45%
	.phone
		font-size: 15px
	.email
		font-size: 16px
		font-family: OpenSansBold
	span
		font-family: OpenSansBold
		font-size: 15px
		color: #9f9f9f
	.side
		display: inline-block
		margin-bottom: 20px


// STANDART STYLES FOOTER END


// HOME STYLES

.slideshow_section
	max-height: 100%
	position: relative
.slideshow
	max-height: 100%
	.slide_content
		position: fixed
		color: #fff
		text-align: center
		max-width: 530px
		top: 70px
		margin-left: 3%
	img
		width: 100%
		height: 100%

.buttons_newpr
	position: relative
	bottom: -25px

.main_sl_buttons
	position: relative
	top: 50%
	background-color: #fff
	border: 0
	transition: all 0.5s ease
	height: 75px
	width: 75px
	border-radius: 50%
	z-index: 2
	outline: none
	img
		width: 100%
	&:hover
		opacity: 0.4
	&:active
		outline: none
.buttons_block
	position: absolute
	bottom: -40%
	height: 100%
	width: 100%
.block_button_next
	text-align: right
.prev
	left: 0
.next
	right: 0


.products_section
	background-color: #f4f4f2
	padding: 60px 0
	.best_products
		margin-bottom: 60px
	.bestp_item
		border: 10px solid #fff
		padding: 0
		img
			width: 100%
	.bestp_content
		width: 40%
		position: absolute
		text-align: center
		top: 0
		left: 50px
	h3
		text-transform: uppercase
		color: #fff
		line-height: 40px
		padding: 0 10px
		padding-bottom: 20px
		border-bottom: 1px solid #fff

.special_products
	text-align: center

.filter_div
	ul
		margin: 0
		padding: 0
		list-style-type: none
		font-family: OpenSansBold
		font-size: 0
		margin-bottom: 40px
		max-height: 50px
		li.filter
			display: inline-block
			font-size: 18px
			margin: 0 15px
			cursor: pointer
			transition: all .5s ease
			color: #7c7c7c
			&.active
				cursor: default
				border-bottom: 3px solid $main-color

#grid_spec_products
	.product_item_wrap
		display: none

.services_section
	padding: 80px 0 120px 70px
	background: rgba(214,214,213,1) url(../img/water.png) no-repeat left 100%
	.services_content
		max-width: 500px
	h2
		color: #555555
		text-transform: uppercase
		line-height: 55px
		padding: 0
		span
			color: $main-color

.new_products_section 
	background-color: #f4f4f2
	padding: 140px 0 125px 0
	h3
		margin: 0
		margin-bottom: 10px

.buttons_newpr 
	button 
		border: 0
		background-color: #e1dfdf
		float: right
		position: static
		display: inline-block
		width: 35px
		height: 35px
		margin: 0 10px
.advantages
	margin-top: 100px
	.advantage_item
		text-align: center
		margin-bottom: 35px
		.img_container
			width: 60px
			height: 60px
			margin: 0 auto
			margin-bottom: 25px
		span
			font-family: OpenSansBold
			font-size: 24px
		a
			font-family: OpenSansBold
			font-size: 18px

// HOME STYLES END

// LOGIN 

.main_login_block
	height: 1180px
	text-align: center
	background: url(../img/login_bg.png) no-repeat center
	background-size: cover
	&:before
		content: ''
		height: 100%
		display: inline-block
		vertical-align: middle
.form_block
	height: 420px
	border-radius: 5px
	text-align: center
	margin-left: -0.35em
	display: inline-block
	background-color: #fff
	vertical-align: middle
	font-family: OpenSansLight
	border-top: 5px solid $main-color
	h3
		margin: 0
		display: block
		padding: 5px 0
		margin: 0 45px
		font-family: OpenSansLight
		border-bottom: 1px solid #e8e8e8
	form
		padding: 0px 45px 15px 45px
	label,input
		display: block
	label
		margin-top: 20px
	input
		width: 250px
		height: 30px
		outline: none
		padding: 0 4px
		border-radius: 3px
		border: 1px solid #e3e3e3
	span
		margin: 0
		padding: 0
		font-size: 12px
		margin-bottom: 5px
		font-family: OpenSansBold
	.green_button
		color: #fff
		width: 100px
		height: 40px
		margin: 20px auto
		background-color: $main-color
	.forgot_pass
		color: #000
	.reg_block
		padding: 15px 0
		text-align: center
		background-color: #fbfbfb
		border-top: 2px solid #f4f4f4
	.black_button
		color: #fff
		background-color: #000

// LOGIN END

// PRODUCT PAGE

.header_nav
	padding: 5px 0
	background-color: #f4f4f2
.breadcrumb
	margin: 0
	font-size: 0
	display: block
	padding: 10px 0
	list-style-type: none
	border-bottom: 1px solid #eaeae9
	li
		font-size: 12px
		display: inline-block
		a
			color: #000
			padding: 0 5px
		&:after
			content: "\f105"
			font-family: FontAwesome
		&:last-child
			a
				color: #808080
			&:after
				content: ""
.header_category 
	h3
		margin: 10px 0
		text-transform: uppercase
.buttons_nav
	margin: 29px 0
	text-align: right
	a.nav_button_pr
		color: #000
		padding: 5px 0px
		background-color: #FFF
		transition: all .5s ease
		border: 1px solid #e0e0e0
		&:hover
			text-decoration: none
			background-color: #f8f8f8
	.prev
		span
			padding: 0 10px
			border-left: 1px solid #e6e6e6
		.icon:after
			padding: 0 5px
			content: "\f104"
			font-family: FontAwesome
	.next
		span
			padding: 0 10px
			border-right: 1px solid #e6e6e6
		.icon:after
			padding: 0 5px
			content: "\f105"
			font-family: FontAwesome

.product_descr_block
	padding: 20px 0 0 0 
	background-color: #fafafa
	.img_block
		width: 450px
		height: 450px
		overflow: hidden
		border-radius: 5px
		margin-bottom: 5px
		vertical-align: middle
		border: 10px solid #eaeaea
		img
			width: 100%
			display: inline-block
	.sentence
		position: relative
		&:before 
			height: 50%
			width: 100%
			content: ""
			position: absolute
			z-index: 2
			background: url(../img/sentence.png) no-repeat
	.new
		position: relative
		&:before 
			height: 50%
			width: 100%
			content: ""
			position: absolute
			z-index: 2
			background: url(../img/nuevos.png) no-repeat
	.product_img_slider
		width: 450px
		height: 140px
		overflow: hidden
		padding: 5px 50px
		border-radius: 3px
		background-color: #fff
		border: 3px solid #eaeaea
		.buttons
			position: absolute
		.img_items
			text-align: center
			.img_item
				width: 120px
				height: 120px
				cursor: pointer
				display: inline-block
				background-color: #fff
				outline: none
			img
				width: 100%
		.product_sl_button 
			position: absolute
			background-color: transparent
			border: 0
			z-index: 1
			top: 35px
			width: 65px
			outline: none
		.prev
			left: -65px
		.next
			right: -65px
	h4
		font-family: MyriadProRegular
		font-size: 30pt
		margin: 0
		padding-bottom: 15px
		border-bottom: 1px solid #ececec
		line-height: 30px

//Star rating
#reviewStars-input
	input:checked ~ label
		background: url('../img/sprite.png') no-repeat
		background-size: 100% 
	label
		background: url('../img/sprite.png') no-repeat
		background-size: 100% 
		&:hover
			background: url('../img/sprite.png') no-repeat
			background-size: 100% 
			~ label
				background: url('../img/sprite.png') no-repeat
				background-size: 100% 
	overflow: hidden
	*zoom: 1
	position: relative
	top: 3px
	display: inline-block
	input
		top: 0
		z-index: 0
		opacity: 0
		width: 15px
		height: 15px
		position: absolute
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0)
		&:checked ~ label
			width: 15px
			height: 15px
			background-position: 0 -14px
	label
		background-position: 0 0
		height: 15px
		width: 15px
		float: right
		cursor: pointer
		margin-right: 10px
		position: relative
		z-index: 1
		&:hover
			background-position: 0 -14px
			height: 15px
			width: 15px
			~ label
				background-position: 0 -14px
				height: 15px
				width: 15px
	#star-0
		left: 0px
	#star-1
		left: 26px
	#star-2
		left: 52px
	#star-3
		left: 77px
	#star-4
		left: 102px
//Star rating end

.review_assessment
	padding: 15px 0
	a
		color: #1b1a19
		font-size: 12px
		margin: 0 10px
	span
		color: #c5c4c4

.price_status
	border-bottom: 1px solid #ececec
	.price
		color: $main-color
		font-size: 48px
		display: inline-block
		margin: 0 5px
		+ div
			display: inline-block
			margin: 0 5px
	.old_price
		margin: 0
		padding: 0
		font-size: 16px
		line-height: 16px
		text-decoration: line-through
	.presence
		margin: 0
		padding: 0
		color: #80c770
		font-size: 12px
		line-height: 30px

.description
	padding: 15px 0
	font-size: 14px
	font-family: OpenSansLight
	border-bottom: 1px solid #ececec
	.p_descr
		color: #1b1a19
		padding: 0
		margin: 0


.quantity
	padding: 15px 0
	border-bottom: 1px solid #ececec
	label
		color: #1b1a19
	input
		margin: 0 10px
		height: 30px
		width: 45px
		outline: none
		padding: 5px 10px
		border-radius: 5px
		border: 1px solid #ececec

.button_tocart
	padding: 15px 0
	button	
		border: 0
		height: 50px
		width: 200px
		text-align: left
		border-radius: 5px
		background-color: $main-color
	span
		top: 3px
		color: #fff
		padding: 0 10px
		font-size: 16px
		margin-left: 10px
		position: relative
		font-family: OpenSansLight
		border-left: 1px solid #96cd8a

.soc_netw
	ul
		list-style-type: none
		padding: 0
	li
		display: inline-block
		margin: 0 2px
	a
		font-size: 23px
		.facebook
			color: #3b5998
		.twitter
			color: #21a1f2
		.plus
			color: #ff6550
		span
			display: inline-block
			height: 23px
			width: 35px
			color: #000
			background-color: #FFF
			border: 1px solid #c2c2c2
			text-align: center
			margin-left: 12px
			border-radius: 3px
			font-size: 16px
			&::before, 
			&::after
				content: ""
				position: absolute
				left: 90px
				bottom: 27px
				border: 7px solid transparent
				border-right: 7px solid #c2c2c2
			&::after
				border-right: 7px solid #fff
				bottom: 27px
				left: 92px
			&:hover
			text-decoration: none

.information
	padding: 30px 0
	.tabs
		position: relative
		top: 2px
	.tab
		display: inline-block
		background-color: #f5f5f5
		height: 40px
		padding: 10px 20px
		font-size: 16px
		border: 1px solid #e1e1e1
		z-index: 1
		cursor: pointer
		&:nth-child(2)
			margin: 0 5px
	.tab.active
		box-shadow: 0px -1px 0px 1px rgba(0, 0, 0, 0.15)
		z-index: 3
		border: 0
		border-top: 3px solid $main-color
		background-color: #FFF
		cursor: default
	.tab_content
		background-color: #FFF
		.tab_item
			z-index: 2
			width: 100%
			font-size: 15px
			padding: 20px
			font-size: 15px
			font-family: OpenSansLight
			box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15)
			&:nth-child(2)
				display: none
			tr
				margin-bottom: 10px
			td
				width: 300px

.recommendations
	padding: 30px 0
	background-color: #FFF
	.buttons_newpr
		bottom: -50px

// PRODUCT PAGE END

// CART PAGE

.order_header
	padding: 40px 0
	h3
		margin: 0
		line-height: 36px
	.go_order_block
		text-align: right
	.go_order
		background-color: $main-color
		padding: 10px
		border: 0
		border-radius: 5px
		color: #fff
		span
			padding: 0 10px
			margin-right: 10px
			border-right: 1px solid #91cc83

.table_cart
	overflow-x: auto
	border-radius: 5px
	border-top: 5px solid #575757
	box-shadow: 0px 2px 15px 1px rgba(0,0,0,.15)
	table
		width: 1139px
		thead
			background-color: #fbfbfb
			line-height: 50px
		td
			border: 1px solid #ededed
			span
				padding: 0 10px
		.photo_product
			width: 150px
			img
				width: 100px
				height: 100px
				text-align: center
				display: inline-block
		.name_product
			width: 580px
		.edit
			width: 60px
			a
				color: $main-color
		.price_product, 
		.presence_product,
		.amount
			width: 100px
		.presence_product
			input
				width: 65px
				height: 25px
		.delete_product
			width: 55px
.text_left
	text-align: left
.text_center
	text-align: center
.text_right
	text-align: right

.cart_buttons
	background-color: #fbfbfb
	padding: 20px 20px
	margin-bottom: 40px
	box-shadow: 0px 5px 15px 1px rgba(0,0,0,.15)
	.actualizar
		text-align: right
	a
		width: 160px
		background-color: #fdfdfd
		padding: 10px 15px
		color: #000
		border-radius: 3px
		transition: all .5s ease
		box-shadow: inset -4px -4px 40px -20px rgba(0,0,0,0.8)
		&:hover
			text-decoration: none
			box-shadow: inset -10px -10px 40px -20px rgba(0, 0, 0, 1)

.standart_block
	height: auto
	width: 100%
	border-radius: 5px
	text-align: center
	margin-left: -0.35em
	margin-bottom: 20px
	display: inline-block
	background-color: #fff
	vertical-align: middle
	font-family: OpenSansLight
	border: 1px solid #f6f6f6
	border-top: 5px solid $main-color
	h3
		margin: 0
		display: block
		padding: 5px 0
		margin: 0 45px
		font-family: OpenSansLight
		border-bottom: 1px solid #e8e8e8
		font-size: 18px
		font-family: OpenSansLight
		text-transform: uppercase
		&>span
			font-size: 18px
	form
		padding: 0px 45px 15px 45px
	label,input
		display: block
	label
		margin-top: 5px
	input
		width: 100%
		height: 30px
		outline: none
		padding: 0 4px
		border-radius: 3px
		border: 1px solid #e3e3e3
	span
		margin: 0
		padding: 0
		font-size: 12px
		margin-bottom: 5px
		font-family: OpenSansBold
	.green_button
		color: #fff
		width: 100px
		height: 40px
		margin: 20px auto
		background-color: $main-color
	p
		font-family: OpenSansLight
		font-size: 12px
	.necessarily
		color: red
	.bottom_button
		padding: 10px 0
		margin-bottom: 10px
		.black_button,
		.green_button
			margin: 0 auto
			padding: 10px 0
			display: block
			width: 110px
			color: #fff
			border-radius: 5px
			&:hover
				text-decoration: none
		.black_button
			background-color: #000
		.green_button
			margin: 5px auto
			background-color: $main-color

// CART PAGE END

// CHECKOUT PAGE 

.stages_container
	margin-bottom: 20px
	.stage
		width: 140px
		margin-right: 55px
		display: inline-block
		&:last-child
			margin-right: 0
		.number
			padding: 0
			margin: 0
			color: #fff
			width: 50px
			height: 50px
			font-size: 30px
			text-align: center
			border-radius: 50%
			display: inline-block
			background-color: #dbdbdb
		&.active
			.number
				background-color: $main-color
		&.passed
			.number
				background-color: #000
		.name
			padding: 0
			margin: 0
			width: 85px
			line-height: 16px
			display: inline-block
		span
			font-size: 16px
			font-family: OpenSansLight

.checkout_forms
	.standart_block
		text-align: left
	input[type="radio"]
		width: auto
		height: auto
		display: inline-block
		& + span
			margin: 0 5px
			font-family: MyriadProRegular
	span
		display: inline-block
	p
		font-family: OpenSansBold !important
	.bottom_button
		padding: 0 42px
		text-align: left
		.black_button,
		.green_button
			text-align: center
			margin: 0
	.sentence_block
		padding: 0 42px
		font-family: OpenSansBold
		.sentence
			font-size: 14px !important
			color: $main-color
		p
			margin: 0
	ul
		margin: 0
		li
			color: $main-color
			margin: 0
			span
				color: #000
	.login
		.bottom_button
			padding: 15px 0
			.green_button
				display: inline-block
			.addition
				font-size: 12px
				display: inline-block
				line-height: 10px
				position: relative
				top: 8px
				a
					color: #000

		.sentence_block
			margin: 15px 0
			.sentence
				font-size: 12px !important
	.progress
		padding: 20px 65px
		li
			a
				color: #000
				font-size: 12px
				margin-left: 5px
				font-family: OpenSansBold
			>ul
				list-style-type: none
				padding: 0
				li
					color: #969696	
// CHECKOUT PAGE END


.content-products
	padding: 20px 0 65px 0
	background-color: #f4f4f2
	.side_block
		width: 100%
		padding: 20px
		text-align: left
		border-radius: 5px
		margin-bottom: 20px
		background-color: #FFF
		border: 1px solid #e0e0e0
		border-top: 5px solid $main-color
		h3
			margin: 0
			padding: 10px 0
			font-size: 21px
			text-transform: uppercase
			border-bottom: 1px solid #e8e8e8
		ul.subcategories
			list-style-type: none
			padding: 0
			li
				&:before
					content: "\f105"
					margin-right: 8px
					font-family: FontAwesome
			a
				color: #322c29
				font-size: 12px
				font-family: OpenSansLight
	.img_category
		height: 200px
		width: 100%
		padding: 40px
		margin-bottom: 20px
		background: #000 url(../img/img_category.jpg) no-repeat 100% 100%
		.name_category
			width: 70%
			display: table
			h3
				color: #fff
				line-height: 36px
				vertical-align: middle

	.sort_block
		display: inline-block
		margin-right: 10px
		margin-bottom: 20px
	.select
		position: relative
		display: inline-block
		&:before
			content: "Sort by"
			position: absolute
			top: 1px
			left: 4px
		&:after
			content: "\f107"
			font-family: FontAwesome
			padding: 0 8px
			font-size: 12px
			position: absolute
			right: 8px
			top: 4px
			z-index: 1
			text-align: center
			width: 10%
			height: 100%
			border-left: 1px solid #e5e5e5
			pointer-events: none
			box-sizing: border-box
	select
		padding-right: 30px
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		padding-right: 25px
		height: 25px
		-webkit-appearance: none
		width: 130px
		border: 1px solid #e0e0e0
		background-color: #FFF
		text-align: right
		text-align-last: right
		&:before
			content: "Sort by"
	button
		background-color: #FFF
		border: 1px solid #e0e0e0
		height: 25px
		width: 25px
		outline: none
		&:hover
			background-color: #e0e0e0
	.see_block
		display: inline-block
		background-color: #FFF
		border: 1px solid #e0e0e0
		width: 101px
		height: 25px
		margin-right: 10px
		margin-bottom: 20px
		span
			color: #808080
		button
			background-color: #FFF
			border: 1px solid #e0e0e0
			height: 100%
			width: 30px	
			margin: 0px -3px
			outline: none
			&:hover
				background-color: #e0e0e0
		span
			padding: 0 10px
		button, span
			display: inline-block

	.ui-widget-header
		background: #5e5e5e
	.ui-widget-content 
		.ui-state-hover,
		.ui-state-focus,
		.active
			background-color: $main-color
	.price_slider
		h3
			margin-bottom: 20px
	.price_block
		margin: 10px 0
		margin-bottom: 20px
		font-size: 12px
		#min_price
			float: left
		#max_price
			float: right
	.popular
		margin-bottom: 20px
		h3
			margin-bottom: 20px
		.side_block
			margin-bottom: 0
			border-bottom: 0
		ul
			margin: 0
			padding: 0
			list-style-type: none
			li
				display: inline-block
				line-height: 24px
				a
					color: #000
				&.not_popular
					a
						font-size: 12px
				&.popular
					a
						font-size: 14px
				&.more_popular
					a
						font-size: 16px
				&.very_popular
					a
						font-size: 18px
				&.mega_popular
					a
						font-size: 24px
		.more
			padding: 15px 20px
			background-color: #fbfbfb
			border: 1px solid #e0e0e0
			border-top: 0
			border-radius: 0 5px 5px 0
			a
				color: #000

	.bestsellers
		.product_mini_block
			padding: 10px 0
			border-bottom: 1px solid #eaeaea
			margin-bottom: 10px
		img
			height: 65px
			width: 65px
			display: inline-block
			border: 5px solid #eaeaea
		.descript_product
			margin: 5px 10px
			position: relative
			top: 10px
			display: inline-block
			font-size: 12px
		.name_product
			display: block
			a
				color: #000
		.price
			color: $main-color
		.old_price
			text-decoration: line-through
			color: #888888
	.quantity_posts
		text-align: left
	.pagination
		text-align: right
		margin: 20px
		ul
			margin: 0
			padding: 0
			display: inline-block
			list-style-type: none
		button
			display: inline-block
			margin: 0 5px
		li
			display: inline-block
			margin: 0 5px
			a
				color: #262525
			&.active
				a
					color: $main-color
	.product_item_wrap
		width: 230px