/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.summary .ta_right,
	.summary .ta_left{
		border: 0;
		text-align: center;
	}
	footer{
		text-align: center;
	}
	footer .soc-netw{
		text-align: center;
		margin-top: 20px;
	}
	footer .soc-netw .fa,
	.fa{
		float: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header .top_text h1{
		font-size: 2.2em;
		margin: 0 10px;
	}
	.about_me .info-item{
		text-align: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}